html{
    font-family: 'Cantarell', sans-serif;
}
h1{
    font-size: 60px;
    color:darkred;

}
h2{
    color:aquamarine;
}
a{
    color:darkgreen;
}

.fast{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: darkcyan;
}